<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
    {{#if script}}
        <script defer src="/public/js/{{script}}"></script>
    {{/if}}
</head>
<body>

<header>
    {{> header }}
</header>

<nav>
    <ul>
        {{#if user}}
            <li>Hello, {{user.username}}</li>
            <li><a href="/users/logout">Logout</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        {{/if}}
    </ul>
</nav>

<main>
    {{{body}}}
</main>

<footer>
    {{> footer }}
</footer>

</body>
</html>
